<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Unique and completely original VRADBnB">
  <meta name="author" content="Veronica, Russell, Dan, Agata">

  <title>VRADBnB</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">


</head>

<body>
  <header>
    <div class="brand">VRADBnB</div>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
          <a class="navbar-brand" href="index.html">VRADBnB</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="/users/new"> </>Sign Up</a></li>
            </li>
            <li>
              <a href="/listings/new"> </>List A Space</a>
            </li>
            <li>
              <a href="/listings"> </>View Spaces</a>
            </li>
            <li>
              <a href="/booking/history"> </>History</a>
            </li>
            <li>
              <a href="/sessions/new"> </>Sign In</a>
            </li>
            <li>
              <a href="/sessions/delete"> </>Sign Out</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
  </header>

  <main>
    <div class="jumbotron">
      <div class="container">
        <h4>
          <% if current_owner %>
          Aloha, <%= current_owner.email %>. You are logged in as an Owner.
          <% elsif current_renter %>
          Aloha, <%= current_renter.email %>. You are logged in as a Renter.
          <% end %>
          <% if flash[:notice] %>
          <div id='notice'><%=flash[:notice] %></div>
          <% end %>
        </h4>

        <% if flash[:errors] && !flash[:errors].empty? %>
        <div id='errors'>
          <% flash[:errors].each do |error| %><%= error %><% end %>
        </div>
        <% end %>
        <br>
        <br>

        <%= yield %>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </main>
</body>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Created by Veronica, Russell, Agata and Dan - Makers Academy November 2016 Cohort</p>
      </div>
    </div>
  </div>
</footer>

</html>
