<form action='/listings' method='post'>
  <label for="start_date">Available from </label>
  <input type="date"  name="start_date">
  <label for="end_date">Available to </label>
  <input type="date"  name="end_date">
  <input type="submit" name="filter" value="List Spaces">
</form>



<h1>Listings</h1>
<ul id='listings' class="container">



  <%@listings.each do |listing| %>
  <li>
    Name: <%= listing.name %>
    Price: <%= listing.price %>
    Available from: <%= listing.start_date %>
    Available until: <%= listing.end_date %>
    <form method='get' action="/requests/<%= listing.id %>">
      <input type='submit' value='Request'>
    </form>
  </li>
  <%end%>
</ul>
