<form action='/listings/filter' method='post'>
  <label for="start_date">Available from </label>
  <input type="date"  name="start_date">
  <label for="end_date">Available to </label>
  <input type="date"  name="end_date">
  <input type="submit" name="filter" value="List Spaces">
</form>



<h1>Listings</h1>
<%if @filter_start_date != nil && @filter_end_date != nil %>

  <ul id='listings'>
      <%@listings.each do |listing|%>

      <%=filtered_listing = @filter.compare_dates(listing)%>
        <li>
          Name: <%= filtered_listing.name %>
          Price: <%= filtered_listing.price %>
          Available from: <%= filtered_listing.start_date %>
          Available until: <%= filtered_listing.end_date %>
        </li>

        <%end%>
    </ul>

  <%else %>
    <ul id='listings'>
      <%@listings.each do |listing| %>
      <li>
      Name: <%= listing.name %>
      Price: <%= listing.price %>
      Available from: <%= listing.start_date %>
      Available until: <%= listing.end_date %>
      </li>
      <%end%>
    </ul>

<%end%>
